Zadania_WCF/Client/Client/Connected Services/Cosmos/CosmosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CosmosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50207/CosmosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50207/CosmosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50207/CosmosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpaceYDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICosmosService_InitializeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeGame" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_InitializeGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeGameResponse" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_SendStarship_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStarship" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_SendStarship_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStarshipResponse" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_GetSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystem" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_GetSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemResponse" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_GetStarship_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStarship" />
  </wsdl:message>
  <wsdl:message name="ICosmosService_GetStarship_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStarshipResponse" />
  </wsdl:message>
  <wsdl:portType name="ICosmosService">
    <wsdl:operation name="InitializeGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosService/InitializeGame" message="tns:ICosmosService_InitializeGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosService/InitializeGameResponse" message="tns:ICosmosService_InitializeGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStarship">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosService/SendStarship" message="tns:ICosmosService_SendStarship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosService/SendStarshipResponse" message="tns:ICosmosService_SendStarship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosService/GetSystem" message="tns:ICosmosService_GetSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosService/GetSystemResponse" message="tns:ICosmosService_GetSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStarship">
      <wsdl:input wsaw:Action="http://tempuri.org/ICosmosService/GetStarship" message="tns:ICosmosService_GetStarship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICosmosService/GetStarshipResponse" message="tns:ICosmosService_GetStarship_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICosmosService" type="tns:ICosmosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitializeGame">
      <soap:operation soapAction="http://tempuri.org/ICosmosService/InitializeGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStarship">
      <soap:operation soapAction="http://tempuri.org/ICosmosService/SendStarship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystem">
      <soap:operation soapAction="http://tempuri.org/ICosmosService/GetSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStarship">
      <soap:operation soapAction="http://tempuri.org/ICosmosService/GetStarship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CosmosService">
    <wsdl:port name="BasicHttpBinding_ICosmosService" binding="tns:BasicHttpBinding_ICosmosService">
      <soap:address location="http://localhost:50207/CosmosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>