Zadania_NoSQL/Client2/Client2/Connected Services/ServiceReference2/ReviewAndPersonWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReviewAndPersonWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServices/ReviewAndPersonWCFService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServices/ReviewAndPersonWCFService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServices/ReviewAndPersonWCFService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReviewAndPersonWCFService_GetAllPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPeople" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetAllPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetAllReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviews" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetAllReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_AddReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReview" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_AddReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReview" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_GetReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_UpdateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReview" />
  </wsdl:message>
  <wsdl:message name="IReviewAndPersonWCFService_UpdateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IReviewAndPersonWCFService">
    <wsdl:operation name="GetAllPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetAllPeople" message="tns:IReviewAndPersonWCFService_GetAllPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetAllPeopleResponse" message="tns:IReviewAndPersonWCFService_GetAllPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/AddPerson" message="tns:IReviewAndPersonWCFService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/AddPersonResponse" message="tns:IReviewAndPersonWCFService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetPerson" message="tns:IReviewAndPersonWCFService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetPersonResponse" message="tns:IReviewAndPersonWCFService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/UpdatePerson" message="tns:IReviewAndPersonWCFService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/UpdatePersonResponse" message="tns:IReviewAndPersonWCFService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetAllReviews" message="tns:IReviewAndPersonWCFService_GetAllReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetAllReviewsResponse" message="tns:IReviewAndPersonWCFService_GetAllReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/AddReview" message="tns:IReviewAndPersonWCFService_AddReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/AddReviewResponse" message="tns:IReviewAndPersonWCFService_AddReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetReview" message="tns:IReviewAndPersonWCFService_GetReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/GetReviewResponse" message="tns:IReviewAndPersonWCFService_GetReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/UpdateReview" message="tns:IReviewAndPersonWCFService_UpdateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReviewAndPersonWCFService/UpdateReviewResponse" message="tns:IReviewAndPersonWCFService_UpdateReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReviewAndPersonWCFService" type="tns:IReviewAndPersonWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPeople">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/GetAllPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/GetAllReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/AddReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReview">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/GetReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <soap:operation soapAction="http://tempuri.org/IReviewAndPersonWCFService/UpdateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReviewAndPersonWCFService">
    <wsdl:port name="BasicHttpBinding_IReviewAndPersonWCFService" binding="tns:BasicHttpBinding_IReviewAndPersonWCFService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServices/ReviewAndPersonWCFService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>